* {
    font-family: 'Jura', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
    line-height: 1.75rem;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #797979;
}

/* Navigation section  */
header nav ul {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;

}

nav ul li {
    padding-left: 20px;
    
}

/* hero section for profile picture and name 
    Need to figure out how to add image in background
*/
.parent_hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.child_hero {
    padding: 20px;
}

#child1_hero {
    order: 2;
    
}

#child2_hero  {
    order: 1;
}


/* break section below main hero and above the about section  */
#sub_header {
   
    background-color: gray;
    border: 2px solid black;
    padding: 2%;
}


/* about section  */
.parent_about {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 100px;
    
}

#child_about h2 {
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    white-space: nowrap;
}

#child_about p {
    text-align: center;
    padding: 20px;
    border: 1px solid black;
}

/* portfolio section and alternating background colors 
    Switched flex direction to column for portfolio peices
*/
.parent_portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.child_background1 {
    background-color: dimgray;
    padding: 100px;

}

.child_background2 {
    background-color: white;
    padding: 100px;
}


/* the portfolio containers for thumbnail and title  */
.child_portfolio {
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
    justify-self: flex-end;
    background-color: blueviolet;
}


/* Sets the justify setting for each portfolio project */
.child_right {
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: flex-end ;
    align-items: center;
    margin-right: 10%;
}

.child_left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start ;
    align-items: center;
    margin-left: 10%;
}


/* Sets the order for portfolio project title and thumbnail */
.item1 {
    order: 2;
}

.item2 {
    order: -1;
} 


/* this is the section for image above the footer  */
.child_img_container {
    flex: 1 1 0;
    border: 1px solid black;
}

.child_img_container img {
    width: 100%;
}

.child_background3 {
    padding:0
}

