



/* nav list formating to one line  */
nav ul {
    list-style-type: none;
}
nav li {
    display: inline;
}

/* Use this to see content space layout */
header, h1, h2, h3, img, p, .nav-links, button, .portfolio-project, .section-1, .section-2, .section-3, .section-4, .section-5, .section-6, .section-7, form, .col-sm, .col-sm-6, .col-sm-8{
    border: 2px solid black;
}


/* content styling starts here  */

.nav-links {
    padding-right: 1%;
}

.section-1 {
    padding: 50px;
    border-bottom:50px solid dimgray;
}

/* content styling for the about me section  */

img {
    width: 100%;
}

.section-2 h2,.section-2 p {
    padding: 2%;
    text-align: right;
}

.section-2 p {
    text-align: left;
}

/* Content styling for the portfolio section  */

input {
    display: block;
}