* {
    font-family: 'Jura', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
    line-height: 1.75rem;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #797979;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;

}

li {
    padding-left: 20px;
    
}

.parent_hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.child_hero {
    padding: 20px;
}

#child1_hero {
    order: 2;
    
}

#child2_hero  {
    order: 1;
}



/* 
 .parent_hero {
    display: flex;
    padding: 25px;
    justify-content: center;
    
  } 

.child1_hero {
    order: 2;
    flex: 0 0 0;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    
}

.child1_hero h1 {
    padding: 20px;
    background: #13293d;
    color: #fff;

}

.child2_hero img {
    width: 100%;
    height: 100%;
    min-width: 200px;

}

.child2_hero {
    order: 1;
    flex: 0 0 0;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;  
} */



#sub_header {
   
    background-color: gray;
    border: 2px solid black;
    padding: 2%;
}

#about {
    display: flex;
    margin-top: 2%;
    justify-content: space-around;
}

#about h2 {
    flex: 0 0 0;
    width: 100%;
    margin-left: 5%;
    padding: 20px;
    text-align:end;
    border-style: solid;
    border-width: 1px;
    white-space: nowrap;
}

#about p {
    border: 1px solid black;
}

.background_dark {
    background-color: dimgray;

}

.background_light {
    background-color: floralwhite;
}

.container {
    display: flex;
    flex: 0 0 0;
    padding: 10px;
    justify-content: flex-end;
    margin-right: 25%;
    border-style: solid;
    border-width: 1px;
}


.container_bg {
    display: flex;
    flex: 0 0 0;
    padding: 10px;
    margin-left: 25%;
   
    border-style: solid;
    border-width: 1px;
}

.parent {
    display: flex;
    justify-content: center;
}

.img_container {
    padding: 10px;
    border-style: solid;
    border-width: 1px;
}

.img_container img {
    width: 100%;
}

#project_card {
    flex: 0 0 0;
    padding: 10px;
    background-color: #b38282;
    text-align: center;
    border-style: solid;
    border-width: 1px;
}